.papa-container{
  background-image: url('img/papas.jpg');
}

#thepapa{
    width:80%;
    margin-left:10%;
    margin-top:30%;
}

#thepapa:hover{
  transform: rotate(7deg);
  width:85%;
  margin-left:7.5%;
} 

html, body, .full-height{
  height:100%;
}

.full-height{
  overflow:auto;
}

html, body{
  overflow:hidden;
}
