.papa-container{
  background-image: url('img/papas.jpg');
}

#thepapa{
    width:80%;
}

#thepapa:hover{
  transform: rotate(7deg);
  width:85%;
  margin-left:7.5%;
}

#papaWrapper{
  width:80%;
  height:200px;
  padding-top:10px;
  padding-left:10%;
}

html, body, .full-height{
  height:100%;
}

.full-height{
  overflow:auto;
}

html, body{
  overflow:hidden;
}

li.bonusList {
  display: block;
  border-width: 1px;
  border-top: 1px;
  border-bottom: 1px;
  padding: 5px;
  background: #f0f0f0;
}

@-webkit-keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 4s linear infinite;
  -moz-animation: rotating 4s linear infinite;
  -ms-animation: rotating 4s linear infinite;
  -o-animation: rotating 4s linear infinite;
  animation: rotating 4s linear infinite;
}
