.papa-container{
  background-image: url('img/papas.jpg');
}

#thepapa{
    width:80%;
}

#thepapa:hover{
  transform: rotate(7deg);
  width:85%;
  margin-left:7.5%;
}

#papaWrapper{
  width:80%;
  height:200px;
  padding-top:10px;
  padding-left:10%;
}

html, body, .full-height{
  height:100%;
}

.full-height{
  overflow:auto;
}

html, body{
  overflow:hidden;
}

li.bonusList {
  display: block;
  border-width: 1px;
  border-top: 1px;
  border-bottom: 1px;
  padding: 5px;
  background: #f0f0f0;
}

@-webkit-keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 4s linear infinite;
  -moz-animation: rotating 4s linear infinite;
  -ms-animation: rotating 4s linear infinite;
  -o-animation: rotating 4s linear infinite;
  animation: rotating 4s linear infinite;
}

.center-container{
  background-image: url('img/0d268c30289d2a203957e48f2c489f3b.jpg');
  background-size:cover;

  border-left: thick solid black;
  border-right: thick solid black;
}

.papaScore {
  margin-left: 10px;
  margin-top: 20px;
}

.papasBar {
  margin-top: 20px;
}

.list-group {
  margin-top: 20px;
  margin-right: 10px;
}

.rightBar {
  background-image: url('img/mojo-rojo-6.jpg');
  background-size:cover;
}

.list-group-item{
  background-color: #fcf8e3;
  border-color: #faebcc;
}

#the_floating_papa{
  position:absolute;
  top: 200px;
  left:500px;
  width: 300px;
}

@-webkit-keyframes rotating-floating {
  from {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rotating-floating {
  from {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.rotating-floating {
  -webkit-animation: rotating-floating 4s linear infinite;
  -moz-animation: rotating-floating 4s linear infinite;
  -ms-animation: rotating-floating 4s linear infinite;
  -o-animation: rotating-floating 4s linear infinite;
  animation: rotating-floating 4s linear infinite;
}

#mojo {
  position:absolute;
  width: 200px;
  height: 100px;
  bottom: 100px;
  left: 300px;
  background-image: url('img/mojo-rojo-6.jpg');
  background-size:cover;
}