<template name="layout">
  {{#if currentUser}}
    {{#if Template.subscriptionsReady}}
      <div class="row">
        {{> header}}
      </div>
      <div class="row full-height">
        <div class="col-md-3 papa-container full-height">
          {{> score}}
          {{> papa}}
          {{> clickers}}
        </div>
        <div class="col-md-5 center-container full-height">
          <nav class="navbar navbar-default papasBar">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Papas</a>
              </div>

              <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <!-- <li><a id="toggleOptions" href="">Options</a></li> -->
                  <li><a id="toggleStats" href="">Statistics</a></li>
                </ul>
              </div>
            </div>
          </nav>

          {{#if optionsVisible}}
            <div class="panel panel-default">
              <div class="panel-heading">Options</div>
              <div class="panel-body">
                <!-- put the options HTML here -->
                {{> options}}
              </div>
            </div>
          {{/if}}

          {{#if statsVisible}}
            <div class="panel panel-default">
              <div class="panel-heading">Stats</div>
              <div class="panel-body">
                <!-- put the stats HTML here -->
                {{> stats}}
              </div>
            </div>
          {{/if}}

        </div>
        <div class="col-md-4 full-height rightBar">
          <div class="list-group">
            {{#each bonus in bonusList}}
              {{> shop bonus}}
            {{/each}}
          </div>
        </div>
      </div>
        {{> floatingPapa}}
    {{/if}}
  {{else}}
    <div class="row">
      <div class="col-md-12">
        {{> loginButtons}}
      </div>
    </div>
  {{/if}}
</template>
