<template name="navigation">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Papas</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a id="toggleOptions" href="">Options</a></li>
          <li><a href="#">Statistics</a></li>
        </ul>
      </div>
    </div>
  </nav>

  {{#if optionsVisible}}
    <div class="panel panel-default">
      <div class="panel-heading">Options</div>
      <div class="panel-body">
        <!-- put the options HTML here -->
        <!-- {{> options}} -->
      </div>
    </div>
  {{/if}}
</template>
